<%- include("../partials/header") %>
<h2>Sửa Nhà cung cấp</h2>
<form action="/suppliers/<%= supplier._id %>?_method=PUT" method="POST">
  <input type="text" name="name" value="<%= supplier.name %>">
  <input type="text" name="address" value="<%= supplier.address %>">
  <input type="text" name="phone" value="<%= supplier.phone %>">
  <button type="submit">Cập nhật</button>
</form>
<%- include("../partials/footer") %>
