<%- include("../partials/header") %>

<div class="container my-4">
  <div class="card mx-auto" style="max-width: 400px;">
    <div class="card-body">
      <h2 class="card-title text-center mb-4 text-dark">Sửa Nhà cung cấp</h2>
      <form action="/suppliers/<%= supplier._id %>?_method=PUT" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label">Tên nhà cung cấp</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= supplier.name %>" placeholder="Tên nhà cung cấp" required>
        </div>

        <div class="mb-3">
          <label for="address" class="form-label">Địa chỉ</label>
          <input type="text" class="form-control" id="address" name="address" value="<%= supplier.address %>" placeholder="Địa chỉ">
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Số điện thoại</label>
          <input type="text" class="form-control" id="phone" name="phone" value="<%= supplier.phone %>" placeholder="Số điện thoại">
        </div>

        <button type="submit" class="btn btn-success w-100 mt-3">Cập nhật</button>
      </form>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
